body {
    margin: 0;
    font-family: manrope;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
@font-face {
    font-family: manrope;
    src: url("../Manrope/Manrope-VariableFont_wght.ttf");
}
header {
    background-color: rgba(0, 0, 0, 0.504);
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    z-index: 10;
}

header nav ul { 
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
    font-family: manrope;
}

#headerLogo img{
    width: 10vw;
    position: absolute;
    left: 2%;
    top: 20%;
}
  

main{
    background-image: url("../img/clubs.png");
    background-size: cover;
}


.school-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: manrope;
    background-size: cover;
}


.school-container img {
    width: 0%;
    z-index: 0;
}

#progressBar {
    display: flex;
    justify-content: center;
    margin-top: 70vh;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #4e5153; /* Die Farbe des aktiven Punktes */
}



#headerU{
    left: 5vw;
    font-weight: bold;
    top: 20vh;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 8em;
    color: white;
    font-family: manrope;
    position: absolute;
    width: 20vw;
    line-height: 8vw;
}

#clubcount{
    position: absolute;
    color: white;
    left: 85vw;
    top: 10vh;
}

#clubcount > h1{
    font-size: 5rem;
    font-weight: bold;
}

#clubcount > p{
    margin-top: -5vh;
    font-size: 1.7rem;
    font-weight: lighter;
}
#fleximg{
    display: flex;
    position: absolute;
    top: 62vh;
    left: 5vw;
    position: relative;
    width: 5vw; /* Optional: Containerbreite */
    height: 25vh; /* Höhe nach Wunsch anpassen */
}
#fleximg img{
    width: 10vw;
    margin: 1vw;
    object-fit: cover;
}

#textflex{
    display: flex;
    color: white;
    width: 100%;
}


#text{
    background-color: white;
    border-radius: 20px;
    padding: 1vw;
    width: 25vw;
    color: black;
}

#textInfoBox{
    position: absolute;
    top: 55vh;
    left: 64vw;
    background-color: rgba(255, 255, 255, 0.521);
    padding: 1vw;
    border-radius: 20px;
    color: white;
}

#arrows{
    position: absolute;
    top: 90vh;
    left: 5vw;
    display: flex;
    width: 20vw;
}
#arrows > img{
    width: 5vw;
    margin: 1vw;
}





.tracking-in-expand{animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) .3s both}

@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}


/* footer */


footer {
    padding-top: 2vw;
    background-color: #04243d;
    color: white;
    padding: 20px;
    font-family: manrope;
}
.sponsors {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -2vw;

}

.sponsor-logos {
    display: flex;
    gap: 40px; /* Abstand zwischen Logos */
    width: max-content; /* Wichtig für Animation */
    animation: slide 15s linear infinite;
}

/* Animation für den Slider */
@keyframes slide {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}

/* Damit die Logos nicht abgeschnitten werden */
.sponsor-logos img {
    max-width: 15vw;
    height: auto;
    object-fit: contain;
}

.sponsors h4 {
    margin-bottom: 2vw;
    font-size: 2vw;
    margin-left: 4vw;
    font-weight: normal;
    text-align: left;
    margin-top: 1.3vw;
}
.main-content {
    margin-top: 2vw;
    position: relative;
    text-align: center;
}

.main-content img {
    width: 80%;
    transition: all 0.2s;
    height: 40vh;
    filter: brightness(50%);

}
.main-content img:hover{
    transform: scale(1.03);
    transition: all 0.2s;
    filter: brightness(30%);
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 45%;
    width: 35vw;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 2.3vw;
}
.overlay h2{
    font-weight: lighter;
}


.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-left: 4vw;
    margin-right: 4vw;
}

.footer-section {
    margin-top: 3vw;
    margin-bottom: 20px;
}

.footer-section h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
    width: 15vw;
    border-bottom: 2px solid #555;
    padding-bottom: 5px;
}

.footer-section p,
.footer-section ul {
    margin: 0;
    font-size: 0.9em;
    line-height: 1.5;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li:hover {
    text-decoration: underline;
    color: #ffffff89;
    cursor: pointer;
}

.social-links li {
    display: inline-block;
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

.puff-in-center{animation:puff-in-center .7s cubic-bezier(.47,0.000,.745,.715) both}
@keyframes puff-in-center{0%{transform:scale(2);filter:blur(4px);opacity:0}100%{transform:scale(1);filter:blur(0);opacity:1}}